@helper CssClass(string action)
{
    if (this.ViewContext.Controller.GetType().Name.Replace("Controller", "") == action)
    {
    <text>active</text>
    }
}

<ul class="nav">
    <li class="@CssClass("Example")"><a href="@Url.Action("Index", "Example")">Campaigns</a></li>
</ul>
